@import "../../App.scss";

.home {
  align-content: initial;
}

// -------------------------------
//
//            HOME
//
// -------------------------------

.hero-container {
  &.laptop {
    min-height: calc(100vh - 100px - 3vh);
  }

  &.phone {
    margin-top: 20px;
    min-height: calc(100vh - 130px);
  }

  position: relative;
}

.hero-content {
  &.laptop {
    padding-bottom: 100px;
  }
  &.phone {
    padding-bottom: 20px;
  }
}

.hero-decoration {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  left: 0;
  object-fit: cover;
}

.hero-image {
  height: 90%;
  object-fit: contain;
  &.laptop {
    position: absolute;
    bottom: 0;
  }
}

// -------------------------------
//
//            MESSAGE
//
// -------------------------------

.message {
  margin-top: 90px;
}

.message-title {
  border: solid 9px $yellow;
  padding: 10px 20px;
  font-weight: bold;
  margin-bottom: 30px;
  font-size: 29px;
  line-height: 43px;
}

.message-text {
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  text-align: left;
}

// -------------------------------
//
//            PRIORITIES
//
// -------------------------------

.priorities {
  background-color: rgba(167, 194, 255, 0.24);
  padding: 17px 30px;
  text-align: left;
  margin: 25px 0;
  .title {
    font-weight: bold;
    font-size: 21.7192px;
    line-height: 33px;
  }
  .icon {
    min-height: 30px;
    min-width: 30px;
    margin-right: 10px;
  }
  .body {
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    margin: 10px 0;
    padding-bottom: 15px;
    border-bottom: 1px solid $navy;
  }
  .link {
    text-decoration: underline;
    cursor: pointer;
    text-align: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    
    &:hover {
      font-weight: 600;
    }
  }
  .commitment {
    border: 5px solid $navy;
    padding: 23px;
    font-size: 14px;
    margin: 20px 6px;
    position: relative;
    .label {
      font-weight: bold;
      padding: 2px 15px;
      position: absolute;
      top: -19px;
      left: -10px;
    }
  }

  .subpoint {
    .title {
      font-size: 16px;
      margin: 16px 0 8px 0;
    }
    .item {
      font-size: 14px;
      line-height: 24px;
      padding: 10px 0 10px 40px;
      position: relative;
      text-align: left;

      .bullet {
        position: absolute;
        left: 0;
        bottom: calc(50% - 13px);
      }
    }
  }
}

.priorities-list {
  margin-top: 100px;

  h4 {
    font-weight: bold;
    font-size: 29px;
    line-height: 46px;
  }

  .underline {
    width: 166px;
    height: 4px;
    background-color: $yellow;
    border-radius: 2px;
  }
}
